In [29]:
import pandas as pd
import numpy as np

In [31]:
stations_by_name=pd.read_json("stations_by_name.json",orient='index')
stations_by_name.head(3)

,LAT,LINE_NO,LNG,SERIAL_NO,ST_HORIZONTAL,ST_NAME,ST_NAME_EN,ST_NO,TRANSFER_TAG,X,Y
马陆,31.319586,11,121.276874,9,高架,马陆,Malu,1135,普通站,200,226
共康路,31.319002,1,121.447024,7,高架,共康路,GongkangRoad,132,普通站,519,287
上海儿童医学中心,31.203228,6,121.523466,9,地下,上海儿童医学中心,ChildrenMedicalCenter,629,普通站,635,719

In [18]:
stations_by_name_with_alias=pd.read_json("stations_by_name_with_alias.json",orient='index')
stations_by_name_with_alias.head(1)

,LAT,LINE_NO,LNG,SERIAL_NO,ST_HORIZONTAL,ST_NAME,ST_NAME_EN,ST_NO,TRANSFER_TAG,X,Y
马陆,31.319586,11,121.276874,9,高架,马陆,Malu,1135,普通站,200,226

In [33]:
trains=pd.read_json("trains.json",orient='column')
trains.head(3)

                                    0     1     2     3     4     5
0  [300, 300, [[闵行开发区, 闵行开发区], 0], 0]  None  None  None  None  None
1  [301, 300, [[闵行开发区, 文井路], 0.5], 0]  None  None  None  None  None
2      [302, 300, [[文井路, 文井路], 0], 0]  None  None  None  None  None

In [32]:
connections_by_station_name=pd.read_json("connections_by_station_name.json",orient='column')
connections_by_station_name.head(3)

      0     1  2
0   富锦路  友谊西路  1
1  友谊西路  宝安公路  1
2  宝安公路  共富新村  1

In [58]:
np.max(stations_by_name.LINE_NO)

16

In [3]:
stations_by_name=pd.read_json("stations_by_name.json",orient='index')
stations_by_name.head(100)
five=stations_by_name[stations_by_name["LINE_NO"]==5]

In [6]:
fiveConnection=connections_by_station_name[connections_by_station_name[2]==5]

In [7]:
fiveConnection

       0      1  2
210   莘庄    春申路  5
211  春申路    银都路  5
212  银都路     颛桥  5
213   颛桥     北桥  5
214   北桥    剑川路  5
215  剑川路    东川路  5
216  东川路    金平路  5
217  金平路    华宁路  5
218  华宁路    文井路  5
219  文井路  闵行开发区  5

In [21]:
five.to_json(r"/Users/HYT/Desktop/CS573 Data Visualization/git/SHMetro/fiveLineNode.json",orient='index',force_ascii=False)
{"金平路":{"LAT":31.011239,"LINE_NO":5,"LNG":121.410083,"SERIAL_NO":8,"ST_HORIZONTAL":"高架","ST_NAME":"金平路","ST_NAME_EN":"JinpingRoad","ST_NO":510,"TRANSFER_TAG":"普通站","X":"179","Y":"965"},"东川路":{"LAT":31.018154,"LINE_NO":5,"LNG":121.419868,"SERIAL_NO":7,"ST_HORIZONTAL":"高架","ST_NAME":"东川路","ST_NAME_EN":"DongchuanRoad","ST_NO":509,"TRANSFER_TAG":"普通站","X":"217","Y":"981"},"莘庄":{"LAT":31.111232,"LINE_NO":5,"LNG":121.385364,"SERIAL_NO":1,"ST_HORIZONTAL":"高架","ST_NAME":"莘庄","ST_NAME_EN":"Xinzhuang","ST_NO":501,"TRANSFER_TAG":"换乘站","X":"201","Y":"771"},"华宁路":{"LAT":31.007414,"LINE_NO":5,"LNG":121.395234,"SERIAL_NO":9,"ST_HORIZONTAL":"高架","ST_NAME":"华宁路","ST_NAME_EN":"HuaningRoad","ST_NO":511,"TRANSFER_TAG":"普通站","X":"157","Y":"964"},"北桥":{"LAT":31.045109,"LINE_NO":5,"LNG":121.410126,"SERIAL_NO":5,"ST_HORIZONTAL":"高架","ST_NAME":"北桥","ST_NAME_EN":"Beiqiao","ST_NO":507,"TRANSFER_TAG":"普通站","X":"219","Y":"932"},"闵行开发区":{"LAT":31.000572,"LINE_NO":5,"LNG":121.369657,"SERIAL_NO":11,"ST_HORIZONTAL":"高架","ST_NAME":"闵行开发区","ST_NAME_EN":"MinhangDevelopmentZone","ST_NO":513,"TRANSFER_TAG":"普通站","X":"96","Y":"943"},"剑川路":{"LAT":31.026466,"LINE_NO":5,"LNG":121.416563,"SERIAL_NO":6,"ST_HORIZONTAL":"高架","ST_NAME":"剑川路","ST_NAME_EN":"JianchuanRoad","ST_NO":508,"TRANSFER_TAG":"普通站","X":"218","Y":"956"},"文井路":{"LAT":31.003588,"LINE_NO":5,"LNG":121.380858,"SERIAL_NO":10,"ST_HORIZONTAL":"高架","ST_NAME":"文井路","ST_NAME_EN":"WenjingRoad","ST_NO":512,"TRANSFER_TAG":"普通站","X":"126","Y":"963"},"银都路":{"LAT":31.089367,"LINE_NO":5,"LNG":121.390342,"SERIAL_NO":3,"ST_HORIZONTAL":"高架","ST_NAME":"银都路","ST_NAME_EN":"YinduRoad","ST_NO":503,"TRANSFER_TAG":"普通站","X":"219","Y":"885"},"颛桥":{"LAT":31.066983,"LINE_NO":5,"LNG":121.401843,"SERIAL_NO":4,"ST_HORIZONTAL":"高架","ST_NAME":"颛桥","ST_NAME_EN":"Zhuanqiao","ST_NO":505,"TRANSFER_TAG":"普通站","X":"220","Y":"910"},"春申路":{"LAT":31.098114,"LINE_NO":5,"LNG":121.385922,"SERIAL_NO":2,"ST_HORIZONTAL":"高架","ST_NAME":"春申路","ST_NAME_EN":"ChunshenRoad","ST_NO":502,"TRANSFER_TAG":"普通站","X":"218","Y":"861"}}

In [28]:
fiveConnection.to_json(r"/Users/HYT/Desktop/CS573 Data Visualization/git/SHMetro/fiveLineConnection.json",orient='values',force_ascii=False)